*{
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
    border: none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -box-sizing: border-box; 
}

body{
    backgorund:#f2f2f2;
}

/*
*===================================================*
*stylesheet to login page
*===================================================*
*/
div.background{
    position: absolute;
    left: 0;
    width: calc(100% - 300px);
    height: 100%;
    background-image: url(../assets/images/119.jpg);
    background-size: cover;
}
section#conteudo-view{
    position:absolute;
    right: 0;
    float: right;
    width: 300px;
    height: 100%;
    background: #51dca6;

}
section#conteudo-view h1{
    float: left;
    width: 100%;
    font: 3em 'Fredoka One', cursive;
    margin-top: 50px;
    color: #f3f3f3;
}
section#conteudo-view h3,
section#conteudo-view form p{
    float: left;
    width: 100%;
    font: .8em 'Fredoka One', cursive;
    color: #f3f3f3;
}
section#conteudo-view form,
section#conteudo-view form label{
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
section#conteudo-view form{
    margin-top: 40px;
}
section#conteudo-view form p{
    font-size: 1.25em;
}
section#conteudo-view form input[type="submit"],
section#conteudo-view form label input{
    float: left;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    border-radius: 20px;    
    border: 2px solid #52ca9b;
    color: #959595;
    font: 1em 'Arial';
}
section#conteudo-view form input[type="submit"] {
    width: 60%;
    float: right;    
    background: #00ff9c;
    text-align: center;   
    font: 1em 'Fredoka One', cursive;
    color:#f9f9f9;
}
section#conteudo-view form input[type="submit"]:hover {
    opacity: 0.8;
    border: 1px #127c53;
    cursor: pointer;
}

/*
*===================================================*
*stylesheet to menu lateral
*===================================================*
*/
#principal{
    position: fixed;
    float: left;
    width: 220px;
    height: 100%;
    background: #fff;
    border-right: 1px solid #e9e9e9;
    box-shadow: 0 0 15px rgba(0,0,0,.15);
}

#principal ul,
#principal ul li{
    float: left;
    width: 100%;
}

#principal ul li a{
    float: left;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #e9e9e9;
    color: #9C9C9C;
}

#principal ul li a i{
    float: left;
    width: 80px;
    height: 80px;
    color: inherit;
    text-align: center;
    line-height: 80px;
    font-size: 2em;
}

#principal ul li a h3{   
    float: left;
    height: 80px;   
    font: 1.25em/80px 'Fredoka One', cursive;
    color: inherit;
}

#principal ul li a:hover{   
   color: #00ff9c;
}